<!-- layouts/admin_layout.ejs -->
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title><%= title %> - localapi</title>
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/lib.js" defer></script>
    </head>
    <body>
        <div class="center">
            <h1><%= welcome %></h1>
            <h2><span class="skew">localapi</span></h2>
            <img src="../images/construction.gif" alt="konstrukcja"/>
            <h1 style="color: red;">DO NOT RELEASE THIS TOOL TO CUSTOMER!</h1>
            <%- include('../partials/counter.ejs') %>
            <div class="center blink" style="color: darkred; font-size: xx-large;" id="safeguard"></div>
            <div class="center" style="font-size: x-large;" id="safeguard-button"></div>
        </div>
        <div class="center main">
            <%- body %>
            <%- include('../partials/navbar.ejs') -%>
            <br/>
            <br/>
            <img src="../images/ie_exploder.gif" alt="norton"/>
            <img src="../images/norton.gif" alt="norton"/>
            <img src="../images/linux_powered.gif" alt="norton"/>
        </div>
    </body>
</html>